.p-user-list {float:left; width:100px; padding-right:10px; margin-bottom:.8em}
.p-user-list img {height:50px}
.p-user-show-image {float:left; margin-right:20px}
.p-user-show-text {overflow:hidden}
.p-user-show-text b {margin-left:.3em}
.p-user-show-text p {margin-bottom:.3em}

.p-user-auth-image {float:left; margin-right:5px}
.p-user-auth-image img {max-width:15px; max-height:15px}
.p-user-auth input {display:block; margin-bottom:.2em}


.user_admin_links{background: #C2CBE0;padding:10px; font-size: 14px;}
.user_admin_links a{font-size: 12px}