.authors-edit-relation {width:300px; border-bottom:1px solid #f0f0f0; padding:5px 0}
.authors-edit-relation-type {display:inline;margin-left:.3em}
.authors-edit-relation-title {display:inline; margin-left:.3em}
.authors-edit-relation-delete {float:right; font-size:80%; margin-top:2px}
