.authors-list {margin:1em 0; clear:both}
.authors-list-item {float:left; width:100px; padding-right:10px; overflow:hidden; margin-bottom:1em}
.authors-list-item img {height:50px}
.authors-list-item-name {height:2.44em}
