/* Layout */
.l-body{margin:0 auto;}
.l-logo, .l-wrapper, .l-header, .l-footer {min-width:960px; max-width:1240px; width:100%; margin:0 auto; overflow:hidden;}
.l-logo{clear:both; height:200px;}
.l-header{clear:both;}
.l-clear{clear:both;height:1px;width:1px;overflow:hidden;}
.l-header-module {float:right; padding:5px; margin-bottom:5px}
.l-header-logo {float:left; overflow:hidden; margin-right:15px; margin-bottom:10px}
.l-header-search {float:left}
.l-header-nav {float:left; overflow:hidden}
.l-header-nav ul {float:left; list-style:none}
.l-header-nav ul li {float:left; list-style:none; margin-right:5px}

.l-content {float:left;width:73%;min-width:710px; max-width:1180px; overflow:hidden}
.l-sidebar .module,
.l-content .module {overflow:hidden; margin:10px}
.l-sidebar {float:right; width:25%;width:250px;min-width:250px;max-width:250px;margin:0px 0px 0px 0px;}

.l-footer-nav ul li {float:left; list-style:none;}

/* Colors */
a {color:red;text-decoration:none;}
.l-sidebar {background:#f0f0f0}
.l-header-nav ul p a {color:black}
.l-header-module {background:#f0f0f0}
.l-wrapper{
	background: #fff;
}
.l-body{
	background: #000;
}
/* Fonts */
.l-body {font:80% Georgia,serif,Arial,Verdana,Tahoma,sans-serif}
.l-body h1 {font-size:200%; margin-bottom:.5em}
.l-body h2 {font-size:150%; margin-bottom:.5em}
.l-body h3 {font-size:120%; margin-bottom:.3em}
.l-header-nav ul p {font-size:150%}
.l-footer-nav ul li {font-size:85%}

/* Misc */
.l-header-logo a {
	background: url('/static/default/img/logo.png') no-repeat scroll 0 0 transparent;
	float:left; height:58px; overflow:hidden; text-indent:9999px; width:340px;
}
.l-content .module .form-group {margin-bottom:1em}
.l-content .module .form-field {margin-bottom:.5em; overflow:hidden}
.l-content .module .form-field label {float:left; width:100px; line-height:2em}
.l-content .module .form-field input,
.l-content .module .form-field select {width:200px}
.l-content .module .form-field textarea {width:580px; height:200px; font-size:130%}
.l-content .module .form-field b {float:left; line-height:2em}
.l-content .module .form-control {margin-top:1em; padding-top:1em; border-top:1px solid #d0d0d0}
.l-content .module .form-notice,
.l-content .module .form-error {border: 2px solid; padding: 5px 10px; margin-bottom:1em}
.l-content .module .form-error {background-color: #FFDBDB; border-color: #F26666}
.l-content .module .form-notice {background-color: #C5FCA3; border-color: #62CF21}
.l-content .module .form-error-exp {color:red; font-size:80%}

.l-content #description {position:relative; width:650px; height:400px}

.l-sidebar-add-item {margin-bottom:.5em}

.conditions-item {margin-bottom:1em}
.conditions-item-title,
.conditions-item-options-item {display:inline; margin-right:.3em}
.conditions-item-options-item {padding:3px 0 2px}
.conditions-item-options-item a {padding:3px 8px 2px}
.conditions-item .current a {font-weight:bold; color:#000; text-decoration:none; background:#eee}

.hidden {display:none}

/* Debug */
.l-debug {float:right}
.l-debug a {color:red}
