.users-list {margin:1em 0; clear:both}
.users-list-item {float:left; width:100px; padding-right:10px; margin-bottom:.8em}
.users-list-item img {height:50px}
.users-list-item img {height:50px}
.users-list-link {clear:both}
