/* 
    Document   : user.css
    Created on : 20.09.2011, 11:47:13
    Author     : mihail
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
	display: block;
}

